div {
    background-color: aqua;
    padding: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blueviolet;
    font-size: x-large;
}

p {
    margin: auto;
    padding: 15px;
}

form {
    margin: auto;
    float: left;
    padding: 20px;
}